In [58]:
import pandas as pd
import sqlite3
path = "/content/sample_data/SalesTrend read.db"
conn = sqlite3.connect(path)
df = pd.read_sql_query("select * from Sales", conn)
print(df)

       OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  \
0       1/1/2015  10/29/2001     SO45082         350        11455
1       1/1/2015  11/16/2001     SO45081         338        26782
2       1/1/2015   12/5/2001     SO45079         312        29255
3       1/1/2015   9/21/2001     SO45080         332        14657
4       1/1/2016  10/17/2002     SO48797         385        14335
...          ...         ...         ...         ...          ...
224179  9/9/2016    8/4/2003     SO54068         477        21453
224180  9/9/2016    8/5/2003     SO54061         491        18584
224181  9/9/2016    8/5/2003     SO54073         466        19460
224182  9/9/2016    8/5/2003     SO54080         528        11843
224183  9/9/2016    8/6/2003     SO54066         220        18170

        TerritoryKey  OrderLineItem  OrderQuantity
0                  9              1              1
1                  6              1              1
2                  4              1              1
3                  1              1              1
4                  1              1              1
...              ...            ...            ...
224179             6              3              2
224180             1              2              1
224181             7              2              2
224182             1              2              2
224183             8              2              1

[224184 rows x 8 columns]

In [32]:
#normalization of the data
import pandas as pd
import sqlite3
from sklearn.preprocessing import MinMaxScaler
path = "/content/sample_data/SalesTrend read.db"
conn = sqlite3.connect(path)
df = pd.read_sql_query("select * from sales", conn)
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
numerical_features = ['ProductKey']
df_numeric = df[numerical_features]
scaler = MinMaxScaler()
df_normalized = scaler.fit_transform(df_numeric)
df_normalized = pd.DataFrame(df_normalized, columns=numerical_features)
df_final = pd.concat([df.drop(numerical_features, axis=1), df_normalized], axis=1)
print(df_final)

        OrderDate   StockDate OrderNumber  CustomerKey  TerritoryKey  \
0      2015-01-01  10/29/2001     SO45082        11455             9
1      2015-01-01  11/16/2001     SO45081        26782             6
2      2015-01-01   12/5/2001     SO45079        29255             4
3      2015-01-01   9/21/2001     SO45080        14657             1
4      2016-01-01  10/17/2002     SO48797        14335             1
...           ...         ...         ...          ...           ...
224179 2016-09-09    8/4/2003     SO54068        21453             6
224180 2016-09-09    8/5/2003     SO54061        18584             1
224181 2016-09-09    8/5/2003     SO54073        19460             7
224182 2016-09-09    8/5/2003     SO54080        11843             1
224183 2016-09-09    8/6/2003     SO54066        18170             8

        OrderLineItem  OrderQuantity  ProductKey
0                   1              1    0.346939
1                   1              1    0.316327
2                   1              1    0.250000
3                   1              1    0.301020
4                   1              1    0.436224
...               ...            ...         ...
224179              3              2    0.670918
224180              2              1    0.706633
224181              2              2    0.642857
224182              2              2    0.801020
224183              2              1    0.015306

[224184 rows x 8 columns]

In [33]:
# Tranformation of data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_standardized = scaler.fit_transform(df_numeric)
df_standardized = pd.DataFrame(df_standardized, columns=numerical_features)
df_final = pd.concat([df.drop(numerical_features, axis=1), df_standardized], axis=1)
print(df_final)

        OrderDate   StockDate OrderNumber  CustomerKey  TerritoryKey  \
0      2015-01-01  10/29/2001     SO45082        11455             9
1      2015-01-01  11/16/2001     SO45081        26782             6
2      2015-01-01   12/5/2001     SO45079        29255             4
3      2015-01-01   9/21/2001     SO45080        14657             1
4      2016-01-01  10/17/2002     SO48797        14335             1
...           ...         ...         ...          ...           ...
224179 2016-09-09    8/4/2003     SO54068        21453             6
224180 2016-09-09    8/5/2003     SO54061        18584             1
224181 2016-09-09    8/5/2003     SO54073        19460             7
224182 2016-09-09    8/5/2003     SO54080        11843             1
224183 2016-09-09    8/6/2003     SO54066        18170             8

        OrderLineItem  OrderQuantity  ProductKey
0                   1              1   -0.750031
1                   1              1   -0.851201
2                   1              1   -1.070405
3                   1              1   -0.901787
4                   1              1   -0.454949
...               ...            ...         ...
224179              3              2    0.320694
224180              2              1    0.438726
224181              2              2    0.227954
224182              2              2    0.750670
224183              2              1   -1.846048

[224184 rows x 8 columns]

In [35]:
!pip install pandera==0.15.0

Collecting pandera==0.15.0
  Downloading pandera-0.15.0-py3-none-any.whl.metadata (15 kB)
Collecting multimethod (from pandera==0.15.0)
  Downloading multimethod-1.12-py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from pandera==0.15.0) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from pandera==0.15.0) (24.1)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pandera==0.15.0) (2.1.4)
Requirement already satisfied: pydantic in /usr/local/lib/python3.10/dist-packages (from pandera==0.15.0) (2.9.2)
Requirement already satisfied: typeguard>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from pandera==0.15.0) (4.3.0)
Collecting typing-inspect>=0.6.0 (from pandera==0.15.0)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from pandera==0.15.0) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera==0.15.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera==0.15.0) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera==0.15.0) (2024.1)
Requirement already satisfied: typing-extensions>=4.10.0 in /usr/local/lib/python3.10/dist-packages (from typeguard>=3.0.2->pandera==0.15.0) (4.12.2)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.6.0->pandera==0.15.0)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic->pandera==0.15.0) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /usr/local/lib/python3.10/dist-packages (from pydantic->pandera==0.15.0) (2.23.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera==0.15.0) (1.16.0)
Downloading pandera-0.15.0-py3-none-any.whl (152 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.4/152.4 kB 1.8 MB/s eta 0:00:00
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading multimethod-1.12-py3-none-any.whl (10 kB)
Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: mypy-extensions, multimethod, typing-inspect, pandera
Successfully installed multimethod-1.12 mypy-extensions-1.0.0 pandera-0.15.0 typing-inspect-0.9.0

In [51]:
import pandas as pd
import pandera as pa
conn = sqlite3.connect(path)
data = pd.read_sql_query("SELECT * FROM Sales", conn)
# Convert 'OrderDate' and 'StockDate' to datetime
data['OrderDate'] = pd.to_datetime(data['OrderDate'])
data['StockDate'] = pd.to_datetime(data['StockDate'])
schema = pa.DataFrameSchema({
     "OrderDate": pa.Column(pa.DateTime),
    "StockDate": pa.Column(pa.DateTime),
    "OrderNumber": pa.Column(pa.String),
    "ProductKey": pa.Column(pa.Int),
    "CustomerKey": pa.Column(pa.Int),
    "TerritoryKey": pa.Column(pa.Int),
    "OrderLineItem": pa.Column(pa.Int),
    "OrderQuantity": pa.Column(pa.Int)
})
schema.validate(data)

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,2015-01-01,2001-10-29,SO45082,350,11455,9,1,1
1,2015-01-01,2001-11-16,SO45081,338,26782,6,1,1
2,2015-01-01,2001-12-05,SO45079,312,29255,4,1,1
3,2015-01-01,2001-09-21,SO45080,332,14657,1,1,1
4,2016-01-01,2002-10-17,SO48797,385,14335,1,1,1
...,...,...,...,...,...,...,...,...
224179,2016-09-09,2003-08-04,SO54068,477,21453,6,3,2
224180,2016-09-09,2003-08-05,SO54061,491,18584,1,2,1
224181,2016-09-09,2003-08-05,SO54073,466,19460,7,2,2
224182,2016-09-09,2003-08-05,SO54080,528,11843,1,2,2
224183,2016-09-09,2003-08-06,SO54066,220,18170,8,2,1

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224184 entries, 0 to 224183
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   OrderDate      224184 non-null  datetime64[ns]
 1   StockDate      224184 non-null  object
 2   OrderNumber    224184 non-null  object
 3   ProductKey     224184 non-null  int64
 4   CustomerKey    224184 non-null  int64
 5   TerritoryKey   224184 non-null  int64
 6   OrderLineItem  224184 non-null  int64
 7   OrderQuantity  224184 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 13.7+ MB